vendor/*
.idea
app/cache/*
app/logs/*
app/data.sqlite
app/data_test.sqlite
app/data_test*.sqlite
node_modules
bower_components
src/public/assets/vendor/*
src/public/dist/js/pre/*
src/public/dist/css/pre/*
src/public/dist/fonts/pre/*
mail-*-*-*.txt