{% extends "layout.html.twig" %}

{% block title %}forgot{% endblock %}

{% block content %}
    <h3>forgot the password, hm?</h3>
    <p>fill out all information you remember! <br/>
        if username and email match, we'll send you an email with an activation code
        you can use <a href="{{ path_for("recover") }}">here</a> to choose a new password</p>
    <form action="{{ path_for("forgot") }}" method="post">
        <div class="form-group">
            <input placeholder="username" name="username" class="form-control"/>
            <input placeholder="email" name="email" type="email" class="form-control"/>
        </div>
        <button class="btn btn-primary" type="submit">send</button>
    </form>
    <p>have got your memory back and want to <a href="{{ path_for("login") }}">login</a>?</p>
{% endblock %}