{% extends "layout.html.twig" %}

{% block title %}login{% endblock %}

{% block content %}
    <h3>login form</h3>
    <form action="{{ path_for("login") }}" method="post">
        <div class="form-group">
            <input placeholder="username" name="username" class="form-control"/>
            <input placeholder="password" name="password" type="password" class="form-control"/>
        </div>
        <button class="btn btn-primary" type="submit">send</button>
    </form>
    <p>not yet <a href="{{ path_for("register") }}">registered</a>?</p>
    <p><a href="{{ path_for("forgot") }}">forgot</a> your password?</p>
{% endblock %}