{% extends "layout.html.twig" %}

{% block title %}recover{% endblock %}

{% block content %}
    <h3>welcome back</h3>
    <p>set your new password with the activation code you've received</p>
    <form action="{{ path_for("recover") }}" method="post">
        <div class="form-group">
            <input placeholder="username" name="username" class="form-control"/>
            <input placeholder="activation code" name="activation_code" class="form-control"/>
        </div>
        <div class="form-group">
            <input placeholder="password" name="password" type="password" class="form-control"/>
            <input placeholder="confirm password" name="password2" type="password" class="form-control"/>
        </div>
        <button class="btn btn-primary" type="submit">send</button>
    </form>
    <p>create an authorization code <a href="{{ path_for("forgot") }}">here</a><br/>
        have your got your memory back and want to <a href="{{ path_for("login") }}">login</a>?</p>
{% endblock %}