{% extends "layout.html.twig" %}

{% block title %}Login{% endblock %}

{% block content %}
    <h3>SyncApi</h3>
    <p>This is the webinterface for the <a href="http://github.com/famoser/SyncApi">SyncApi</a>.
        <a href="{{ path_for("login") }}">Login</a> and manage your applications.</p>
{% endblock %}