{% extends "layout.html.twig" %}

{% block content %}
    <header>
        <h1>{% block title %}{% endblock title %}</h1>
    </header>

    <section id="content">
        {% block application_content %}
        {% endblock application_content %}
    </section>
{% endblock %}
