{% extends "layout.html.twig" %}

{% block title %}delete application{% endblock title %}

{% block content %}
    <form action="{{ path_for("application_delete", {'id' : application.id}) }}" method="post">
        <p>You cannot undo this operation!</p>
        <button class="btn btn-primary" type="submit">delete</button>
    </form>
    <p>go <a href="{{ path_for("application_index") }}">back</a><br>
        <a href="{{ path_for("application_edit", {'id' : application.id}) }}">edit</a> this application</p>
{% endblock content %}
