{% extends "application_layout.html.twig" %}

{% block title %}your applications{% endblock title %}

{% block application_content %}
    {% if (application | length == 0) %}
        <p>You do not have any applications yet</p>
    {% elseif %}
        <table class="table">
            <tbody>
            {% for app in applications %}
                <tr>
                    <td><a href="{{ path_for('application_show', {'id': app.id}) }}">{{ app.name }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    <p>create a <a href="{{ path_for("new_application") }}">new application</a></p>
{% endblock application_content %}
