{% extends "layout.html.twig" %}

{% block content %}
    <header>
        <span><img src="/images/apiInfos.png" style="max-width: 100%" alt="" /></span>
        <hr />
        <p>Scan the image with your MassPass application to connect to this API</p>
        <hr />
    </header>

    <footer>
        <ul class="icons">
            <li><a href="http://famoser.ch" class="fa-link">famoser.ch</a></li>
        </ul>
    </footer>
{% endblock %}
