<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="LastPass: The last application you need for your passwords">
    <meta name="author" content="Florian Moser">
    <link rel="shortcut icon" href="/assets/ico/favicon.ico">

    <title>SyncApi</title>

    <!-- Bootstrap core CSS -->
    <link href="/assets/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/assets/css/style.css" rel="stylesheet">
    <!-- Custom styles for this project -->
    <link href="/css/styles.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 site">
                <div class="site-title">
                    <h2>{% block title %} {% endblock %}</h2>
                </div>
                {% if message is defined %}
                    <p>{{ message }}</p>
                {% endif %}

                <div class="content">
                    {% block content %} {% endblock %}
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>

<!--BACKSTRETCH-->
<!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
<script type="text/javascript" src="assets/js/jquery.backstretch.min.js"></script>
<script>
    $.backstretch("assets/img/bg01.jpg", {speed: 500});
</script>

<!-- modiefied tempalte from http://blacktie.co/demo/feedo/ !-->

</body>
</html>